// heading styling
h1
  font-family: $family-title

h2.is-size-2
  line-height: 1.2

#media-title.is-fade-in
  animation: fadeIn .75s

@keyframes fadeIn
  0% 
    opacity: 0
  100% 
    opacity: 1

// custom image handling to properly size images
.is-256wide
  width: 256px !important
  
.is-128wide
  width: 128px !important

.is-100wide
  width: 100px !important

.is-80wide
  width: 80px !important
  
// force things to center align
.is-forced-centered
  text-align: center !important
  
button.is-link
  @extend a
  background: none!important
  border: none
  padding: 0!important
  cursor: pointer
  
  
img.is-link
  cursor: pointer
  
.has-no-borders
  border: none !important