@tailwind base;
@tailwind components;
@tailwind utilities;

/* button loader spinner */
button.is-loading::after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

button.is-loading {
  color: transparent !important;
  pointer-events: none;
  opacity: 0.6;
}

button.is-loading::after {
  position: absolute;
  left: calc(50% - (1em * 0.5));
  top: calc(50% - (1em * 0.5));
  position: absolute !important;
}

/* end button loader spinner */
