# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node

name: RandoMarvel Deploy CI

on:
  pull_request:
    branches: [ $default-branch ]
  push:
    branches:
      - 'feature/**'
      - 'workflows/randomarvel-deploy-ci/*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test